## Simpler Returns - Part I

Load the \*.csv data for Microsoft (‘MSFT’) for the period ‘2000-1-1’ until today.

In [10]:
import pandas

In [14]:
odebrane_dane = pandas.read_csv(r'C:\Users\Dom\Desktop\Moje\Python\Udemy\Python for Finance - Notebook Files\63 Simple Returns - Part I\CSV\Python 3 CSV\MSFT_2000_2017.csv', index_col = 'Date')

In [15]:
odebrane_dane

                 Open       High        Low      Close  Adj Close     Volume
Date
1999-12-31  58.750000  58.875000  58.125000  58.375000  38.771053   12517600
2000-01-03  58.687500  59.312500  56.000000  58.281250  38.708794   53228400
2000-01-04  56.781250  58.562500  56.125000  56.312500  37.401215   54119000
2000-01-05  55.562500  58.187500  54.687500  56.906250  37.795563   64059600
2000-01-06  56.093750  56.937500  54.187500  55.000000  36.529484   54976600
2000-01-07  54.312500  56.125000  53.656250  55.718750  37.006855   62013600
2000-01-10  56.718750  56.843750  55.687500  56.125000  37.276661   44963600
2000-01-11  55.750000  57.125000  54.343750  54.687500  36.321934   46743600
2000-01-12  54.250000  54.437500  52.218750  52.906250  35.138874   66532400
2000-01-13  52.187500  54.312500  50.750000  53.906250  35.803043   83144000
2000-01-14  53.593750  56.968750  52.875000  56.125000  37.276661   73416400
2000-01-18  55.906250  58.250000  55.875000  57.656250  38.293682   81483600
2000-01-19  55.250000  55.750000  53.000000  53.500000  35.533215   97568200
2000-01-20  53.531250  54.843750  52.937500  53.000000  35.201126   56349800
2000-01-21  53.500000  53.625000  51.625000  51.875000  34.453938   68416200
2000-01-24  51.898399  52.843750  50.406250  50.625000  33.623737   63597600
2000-01-25  50.500000  51.937500  49.781250  51.406250  34.142609   59823200
2000-01-26  51.218750  51.750000  49.562500  49.687500  33.001049   49365000
2000-01-27  49.945301  50.593750  48.625000  49.375000  32.793507   63654800
2000-01-28  49.062500  50.125000  48.625000  49.125000  32.627457   58225400
2000-01-31  48.812500  49.093750  47.437500  48.937500  32.502930   73194200
2000-02-01  49.250000  51.625000  48.843750  51.468750  34.184120   70196600
2000-02-02  51.218750  51.968750  50.250000  50.406250  33.478443   49915600
2000-02-03  51.031250  52.093750  50.062500  51.812500  34.412422   49186000
2000-02-04  52.187500  54.000000  52.070301  53.281250  35.387936   55365400
2000-02-07  53.406250  53.437500  52.125000  53.312500  35.408699   40005800
2000-02-08  53.218750  55.000000  53.218750  54.968750  36.508713   56229000
2000-02-09  54.718750  54.718750  51.937500  52.000000  34.536964   55090000
2000-02-10  51.945301  53.281250  51.250000  53.000000  35.201126   54527800
2000-02-11  52.437500  52.437500  49.562500  49.968750  33.187855  115559000
...               ...        ...        ...        ...        ...        ...
2017-10-31  84.360001  84.360001  83.110001  83.180000  82.764351   27086600
2017-11-01  83.680000  83.760002  82.879997  83.180000  82.764351   22307400
2017-11-02  83.349998  84.459999  83.120003  84.050003  83.630005   23992900
2017-11-03  84.080002  84.540001  83.400002  84.139999  83.719551   17633500
2017-11-06  84.199997  84.699997  84.080002  84.470001  84.047905   19860900
2017-11-07  84.769997  84.900002  83.930000  84.269997  83.848900   17939700
2017-11-08  84.139999  84.610001  83.830002  84.559998  84.137451   18034200
2017-11-09  84.110001  84.269997  82.900002  84.089996  83.669800   21178400
2017-11-10  83.790001  84.099998  83.230003  83.870003  83.450905   19397800
2017-11-13  83.660004  83.940002  83.459999  83.930000  83.510597   14196900
2017-11-14  83.500000  84.099998  82.980003  84.050003  83.630005   18801300
2017-11-15  83.470001  83.690002  82.690002  82.980003  82.980003   19383100
2017-11-16  83.099998  83.419998  82.940002  83.199997  83.199997   20962800
2017-11-17  83.120003  83.120003  82.239998  82.400002  82.400002   22079000
2017-11-20  82.400002  82.589996  82.250000  82.529999  82.529999   16315000
2017-11-21  82.739998  83.839996  82.739998  83.720001  83.720001   21237500
2017-11-22  83.830002  83.900002  83.040001  83.110001  83.110001   20553100
2017-11-24  83.010002  83.430000  82.779999  83.260002  83.260002    7425600
2017-11-27  83.309998  83.980003  83.300003  83.870003  83.870003   18265200
2017-11-28  84.070000  85.059998  84.019997  84.879997  84.879997   21926000
2017-11-29  84.709999  84.919998  83.180000  83.339996  83.339996   27381100
2017-11-30  83.510002  84.519997  83.339996  84.169998  84.169998   33054600
2017-12-01  83.599998  84.809998  83.220001  84.260002  84.260002   29532100
2017-12-04  84.419998  84.430000  80.699997  81.080002  81.080002   39094900
2017-12-05  81.339996  82.680000  80.980003  81.589996  81.589996   26152300
2017-12-06  81.550003  83.139999  81.430000  82.779999  82.779999   26162100
2017-12-07  82.540001  82.800003  82.000000  82.489998  82.489998   23184500
2017-12-08  83.629997  84.580002  83.330002  84.160004  84.160004   24489100
2017-12-11  84.290001  85.370003  84.120003  85.230003  85.230003   20121700
2017-12-12  85.309998  86.050003  85.080002  85.529999  85.529999    7805031

[4517 rows x 6 columns]

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [16]:
odebrane_dane.head()

                Open     High      Low     Close  Adj Close    Volume
Date
1999-12-31  58.75000  58.8750  58.1250  58.37500  38.771053  12517600
2000-01-03  58.68750  59.3125  56.0000  58.28125  38.708794  53228400
2000-01-04  56.78125  58.5625  56.1250  56.31250  37.401215  54119000
2000-01-05  55.56250  58.1875  54.6875  56.90625  37.795563  64059600
2000-01-06  56.09375  56.9375  54.1875  55.00000  36.529484  54976600

In [17]:
odebrane_dane.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2017-12-06  81.550003  83.139999  81.430000  82.779999  82.779999  26162100
2017-12-07  82.540001  82.800003  82.000000  82.489998  82.489998  23184500
2017-12-08  83.629997  84.580002  83.330002  84.160004  84.160004  24489100
2017-12-11  84.290001  85.370003  84.120003  85.230003  85.230003  20121700
2017-12-12  85.309998  86.050003  85.080002  85.529999  85.529999   7805031

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [18]:
odebrane_dane['stopa zwrotu'] = (odebrane_dane['Adj Close'] / odebrane_dane['Adj Close'].shift(1)) - 1

In [19]:
odebrane_dane['stopa zwrotu']

Date
1999-12-31         NaN
2000-01-03   -0.001606
2000-01-04   -0.033780
2000-01-05    0.010544
2000-01-06   -0.033498
2000-01-07    0.013068
2000-01-10    0.007291
2000-01-11   -0.025612
2000-01-12   -0.032572
2000-01-13    0.018901
2000-01-14    0.041159
2000-01-18    0.027283
2000-01-19   -0.072087
2000-01-20   -0.009346
2000-01-21   -0.021226
2000-01-24   -0.024096
2000-01-25    0.015432
2000-01-26   -0.033435
2000-01-27   -0.006289
2000-01-28   -0.005064
2000-01-31   -0.003817
2000-02-01    0.051724
2000-02-02   -0.020643
2000-02-03    0.027898
2000-02-04    0.028348
2000-02-07    0.000587
2000-02-08    0.031066
2000-02-09   -0.054008
2000-02-10    0.019230
2000-02-11   -0.057193
                ...
2017-10-31   -0.008463
2017-11-01    0.000000
2017-11-02    0.010459
2017-11-03    0.001071
2017-11-06    0.003922
2017-11-07   -0.002368
2017-11-08    0.003441
2017-11-09   -0.005558
2017-11-10   -0.002616
2017-11-13    0.000715
2017-11-14    0.001430
2017-11-15   -0.007772
2017-11-16    0.002651
2017-11-17   -0.009615
2017-11-20    0.001578
2017-11-21    0.014419
2017-11-22   -0.007286
2017-11-24    0.001805
2017-11-27    0.007326
2017-11-28    0.012042
2017-11-29   -0.018143
2017-11-30    0.009959
2017-12-01    0.001069
2017-12-04   -0.037740
2017-12-05    0.006290
2017-12-06    0.014585
2017-12-07   -0.003503
2017-12-08    0.020245
2017-12-11    0.012714
2017-12-12    0.003520
Name: stopa zwrotu, Length: 4517, dtype: float64