## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Load the data for Microsoft (‘MSFT’) for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [2]:
import pandas
import numpy

In [3]:
rec_data = pandas.read_csv(r'C:\Users\Dom\Desktop\Moje\Python\Udemy\Python for Finance - Notebook Files\71 Calculating the Risk of a Security\CSV\Python 3 CSV\MSFT_AAPL_2000_2017.csv')

In [4]:
rec_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4334 entries, 0 to 4333
Data columns (total 3 columns):
Date    4334 non-null object
MSFT    4334 non-null float64
AAPL    4334 non-null float64
dtypes: float64(2), object(1)
memory usage: 101.7+ KB

In [5]:
rec_data.tail()

            Date       MSFT        AAPL
4329  2017-03-17  64.158463  138.869217
4330  2017-03-20  64.217804  140.327454
4331  2017-03-21  63.505699  138.720413
4332  2017-03-22  64.316704  140.287766
4333  2017-03-23  64.158463  139.791763

### MSFT

Daily risk:

In [8]:
returns_msft = numpy.log(rec_data['MSFT'] / rec_data['MSFT'].shift(1))

In [22]:
returns_msft.std()

0.019656948849403607

Annual risk:

In [23]:
returns_msft.std() * 250 ** 0.5

0.31080365106770774

### Apple

Daily risk:

In [17]:
returns_aapl = numpy.log(rec_data['AAPL'] / rec_data['AAPL'].shift(1))

In [24]:
returns_aapl.std()

0.027761934312069386

Annual risk:

In [25]:
returns_aapl.std() * 250 ** 0.5

0.4389547233905951

Store the volatilities of the two stocks in an array called “vols”.

In [26]:
vols = numpy.array([returns_msft.std(), returns_aapl.std()]) * 250 ** 0.5

How are the two risk values different?