## Calculating Covariance and Correlation

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [9]:
import pandas
new_data = pandas.read_csv(r'/home/ksawery/PycharmProjects/Udemy/Python for Finance - Notebook Files/75 Calculating Covariance and Correlation/CSV/Python 3 CSV/Walmart_FB_2014_2017.csv')
new_data = new_data[new_data['Date'] >= '2014-01-01'].set_index('Date')
new_data.info()
new_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 823 entries, 2014-01-02 to 2017-04-07
Data columns (total 2 columns):
WMT    823 non-null float64
FB     823 non-null float64
dtypes: float64(2)
memory usage: 19.3+ KB

                  WMT         FB
Date
2014-01-02  71.325287  54.709999
2014-01-03  71.090279  54.560001
2014-01-06  70.692558  57.200001
2014-01-07  70.909485  57.919998
2014-01-08  70.349083  58.230000

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [15]:
import numpy
returns = pandas.DataFrame()
returns = numpy.log(new_data / new_data.shift(1))
print(returns)
print('----------------------')
WMT_mean = returns['WMT'].mean()
print(WMT_mean)
WMT_annual = returns['WMT'].mean() * 250
print(WMT_annual)
print('----------------------')
FB_mean = returns['FB'].mean()
print(FB_mean)
FB_annual = returns['FB'].mean() * 250
print(FB_annual)
print('----------------------')

                 WMT        FB
Date
2014-01-02       NaN       NaN
2014-01-03 -0.003300 -0.002745
2014-01-06 -0.005610  0.047253
2014-01-07  0.003064  0.012509
2014-01-08 -0.007934  0.005338
...              ...       ...
2017-04-03 -0.003474  0.001618
2017-04-04  0.002503 -0.003873
2017-04-05 -0.005012  0.000846
2017-04-06 -0.003075 -0.004805
2017-04-07  0.020371 -0.002766

[823 rows x 2 columns]
----------------------
1.0824388707015396e-05
0.0027060971767538487
----------------------
0.0011498198190744117
0.2874549547686029
----------------------

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

Covariance matrix:

In [16]:
returns.cov()

          WMT        FB
WMT  0.000126  0.000035
FB   0.000035  0.000332

Correlation matrix:

In [17]:
returns.corr()

          WMT        FB
WMT  1.000000  0.171753
FB   0.171753  1.000000

Would you consider investing in such a portfolio?